body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

details {
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  font-weight: bold;
  background-color: #ededed;
  margin: 0 10px;
}

summary {
  list-style: none;
  padding: 8px;
}

details.introduction {
  background-color: #fcfcfc;
  border: 1px solid #999;
}

.detail_item {
  padding: 4px;
  padding-left: 8px;
}

small {
  font-size: 12px;
}

.coutions {
  display: flex;
  flex-direction: column;
}

.link-block {
  margin: 4px auto;
  font-weight: bold;
}
.link-block a {
  color: #555;
}

table.detail-arts {
  margin: 10px;
  font-size: 12px;
}
.detail-arts-header {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  color: #ddd;
}

.detail-arts-body {
  text-align: left;
  vertical-align: top;
  padding-left: 4px;
  font-weight: bold;
  color: #ddd;
}

.comment-line {
  margin: 0;
}

.modal {
  background-color: #121212;
  min-width: 55%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
  position: relative;
  top: 20%;
}

.arts-video {
  position: absolute;
  opacity: 0.5;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

button {
  border: 1px solid #555;
  width:  70px;
  height: 56px;
  background-color: #ffffff;
  opacity: 1.0;
  background-image:  repeating-linear-gradient(45deg, #f6f6f6 25%, transparent 25%, transparent 75%, #f6f6f6 75%, #f6f6f6), repeating-linear-gradient(45deg, #f6f6f6 25%, #ffffff 25%, #ffffff 75%, #f6f6f6 75%, #f6f6f6);
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;  
}

summary.un-active-row {
  display: flex;
  justify-content: space-between;
  background-color: #d0d0d0;
  color: #989898;
}

summary.active-row {
  display: flex;
  justify-content: space-between;
  background-color: #e8e8e8;
}

.counter_a {
  background-color: #ffffff;
}

.counter_b {
  background-color: #f9f9f9;
}

.checkBoxBox {
  margin-left: 0px;
  padding: 4px 8px 8px 0;
}

.checkBoxBox > input[type=checkbox] {
  margin-left: 0px;
}
